@using Models
@inject ItemApiService itemService
@inject NavigationManager navManager

<div class="row mb-3">
	<div class="col-12 col-xl-5 mb-2 mb-xl-0">
		<SearchAndCreateBar Mensagem="@mensagemParametro" OnClickBuscarCallback="BuscarItens" OnClickCadastrarCallback="Cadastrar" />
	</div>
	<div class="col-12 col-xl-7">

		<div class="d-flex flex-row-reverse justify-content-center justify-content-lg-start">
			<div class="col-auto">
				<GerenciadorDeColunas QuantidadeDeColunas="QuantidadeDeColunas"
									  QuantidadeMaximaDeColunas="QuantidadeMaximaDeColunas"
									  OnChangeDistribuicaoCallback="AjustarColunas"
									  OnChangeQuantidadeCallback="AjustarTamanhoDosItens" />
			</div>
			<form class="d-inline-block mx-3">
				<select class="form-select form-select-sm" value="@(quantidadePorPagina)" @onchange="SetQuantidadePorPagina">
					@for (int i = 20; i <= 300; i *= 2)
					{
						<option value="@i">@i por página</option>
					}
				</select>
			</form>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle btn-sm" type="button" @onclick="ExibirFiltros">
					Filtrar Relação
				</button>
				<ul class="dropdown-menu @(visibilidadeFiltros)" aria-labelledby="dropdownMenuButton1">
					@foreach (EnumRelacaoUsuarioItem relacao in Enum.GetValues(typeof(EnumRelacaoUsuarioItem)))
					{
						<li>
							<button class="dropdown-item @(filtros.Contains(relacao) ? "text-white bg-secondary" : "")"
									@onclick="() => SetFiltro(relacao)">
								<i class="@RelacaoUsuarioItemHelper.Icone(relacao)"
								   title="@RelacaoUsuarioItemHelper.Nome(relacao)" style="font-size: 20px; line-height: 20px;"></i>
								@RelacaoUsuarioItemHelper.Nome(relacao)
							</button>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

@if (totalPaginas > 1)
{
	<div class="row">
		<div class="col-12 d-flex justify-content-center">
			<nav class="d-inline-block">
				<Paginacao TotalPaginas="totalPaginas" PaginaAtual="paginaAtual" OnClickCallback="SetPaginaAtual" />
			</nav>
		</div>
	</div>
}

@if (itens == null)
{
	<div class="text-center">
		@if (status == null)
		{
			<h3>Carregando...</h3>
		}
		else
		{
			<h3 class="text-danger">@(status.ToString())</h3>
			
		}
	</div>
}
else
{
	@if (itensPaginados.Count == 0)
	{
		<div class="text-center">
			<h3>Nenhum item encontrado</h3>
		</div>
	}
	else
	{
		<div class="row @(distribuicaoDasColunas) g-3">
			@foreach (ItemBasicVM i in itensPaginados
				.Skip(quantidadePorPagina * (paginaAtual - 1))
				.Take(quantidadePorPagina))
			{
				<CardItem Item="i" TamanhoDaImagem="tamanhoDosCards" OnSelectCallback="AtualizarRelacionamentoItem" OnClickCallback="VisualizarItem" Editavel="true" />
			}
		</div>
	}
}

@if (totalPaginas > 1)
{
	<div class="row my-3">
		<div class="col-12 d-flex justify-content-center">
			<nav class="d-inline-block">
				<Paginacao TotalPaginas="totalPaginas" PaginaAtual="paginaAtual" OnClickCallback="SetPaginaAtual" />
			</nav>
		</div>
	</div>
}

@code {
	[Parameter]
	public int IdColecao { get; set; }

	[Parameter]
	public int QuantidadeDeColunas { get; set; } = 5;

	[Parameter]
	public int QuantidadeMaximaDeColunas { get; set; } = 6;

	private List<EnumRelacaoUsuarioItem> filtros = new List<EnumRelacaoUsuarioItem>();
	private string visibilidadeFiltros = string.Empty;

	private string distribuicaoDasColunas = "row-cols-1";
	private int tamanhoDosCards = 200;

	private List<ItemBasicVM> itens;
	private List<ItemBasicVM> itensPaginados;
	private HttpStatusCode? status;
	private int totalPaginas = 0;
	private int paginaAtual = 0;
	private int quantidadePorPagina = 20;
	private string mensagemParametro = "Nome do item";

	protected override async Task OnParametersSetAsync()
	{
		itens = null;
		await BuscarItens();
	}

	private void ExibirFiltros()
	{
		if (string.IsNullOrEmpty(visibilidadeFiltros))
			visibilidadeFiltros = "show";
		else
		{
			visibilidadeFiltros = string.Empty;
			Paginar();
		}
	}

	private void SetFiltro(EnumRelacaoUsuarioItem relacao)
	{
		if (!filtros.Remove(relacao))
			filtros.Add(relacao);
	}

	protected void SetQuantidadePorPagina(ChangeEventArgs e)
	{
		quantidadePorPagina = 20;
		Int32.TryParse(e.Value.ToString(), out quantidadePorPagina);
		Paginar();
	}

	private void SetPaginaAtual(int paginaAtual)
	{
		this.paginaAtual = paginaAtual;
	}

	private void AjustarColunas(string distribuicaoDasColunas)
	{
		this.distribuicaoDasColunas = distribuicaoDasColunas;
	}

	private void AjustarTamanhoDosItens(int quantidadeColunas)
	{
		tamanhoDosCards = 200 * (4 + QuantidadeMaximaDeColunas - quantidadeColunas) / 4;
	}

	private async Task BuscarItens(string nome = "")
	{
		try
		{
			itens = await itemService.GetByNome(IdColecao, nome);
			Paginar();
		}
		catch (HttpResponseException ex)
		{
			status = ex.Response.StatusCode;
		}
	}

	private void Paginar()
	{
		itensPaginados = filtros.Count == 0 ? itens : itens.Where(i => filtros.Contains(i.Relacao)).ToList();
		totalPaginas = Convert.ToInt32(Math.Ceiling((double) itensPaginados.Count() / quantidadePorPagina));
		SetPaginaAtual(1);
	}

	private async Task AtualizarRelacionamentoItem(ItemBasicVM item)
	{
		try
		{
			await itemService.AtualizarRelacionamento(item);
		}
		catch (HttpResponseException ex)
		{
			status = ex.Response.StatusCode;
		}
	}

	private async Task VisualizarItem(ItemBasicVM item)
	{
		var parameters = new ModalParameters();
		parameters.Add("Item", item);

		var messageForm = modal.Show<VisualizarItem>($"Item:", parameters);
		var result = await messageForm.Result;

		if (result.Cancelled)
			return;

		if (result.Data == null)
		{
			itens.RemoveAll(i => i.Id == item.Id);
			Paginar();
		}
	}

	private void Cadastrar()
	{
		navManager.NavigateTo($"/colecao/{IdColecao}/cadastrarmultiplositens");
	}

	private void NavegarPara(ColecaoBasicVM colecao)
	{

	}
}
